POSTGRES_DB=mediadock
POSTGRES_USER=mediadock
POSTGRES_PASSWORD=mediadock-dev-only
POSTGRES_PORT=5432
APP_BIND_ADDRESS=127.0.0.1
APP_PORT=8080
API_IMAGE=mediadock-next-api
DEPLOY_CONTROL_SOCKET_DIR=./.deploy-control
GOOGLE_AUTH_ENABLED=false
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_CALLBACK_URI=http://localhost:8080/signin-oidc
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_GIVEN_NAME=
BOOTSTRAP_ADMIN_FAMILY_NAME=
BOOTSTRAP_ADMIN_ISSUER=
BOOTSTRAP_ADMIN_SUBJECT=
